.hero-image {
    background-image: url(../img/hero.png);
    height: 100%;
    min-height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115px;

    @include bp(medium) {
        padding-top: 140px;
    }

    @include bp(large) {
        padding-top: 165px;
    }

    p {
        font-weight: 500;
        margin-top: 24px;
    }
}



.carousel {
    background-color: $c-greenLight;
    padding-top: 85px;
    padding-bottom: 85px;

    @include bp(small) {
        padding-top: 102px;
        padding-bottom: 102px;
    }

    @include bp(desktop) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &-header {
        h2 {
            @include font-size(32);
            @include line-height(38);
            color: $c-green;

            @include bp(small) {
                @include font-size(39);
                @include line-height(46);
            }

            @include bp(desktop) {
                @include font-size(46);
                @include line-height(55);
            }
        }

        h2,
        h1,
        p {
            overflow: hidden;
        }
    }

    .outer-body {
        margin-top: 50px;
        @include bp(small){
            margin-top: 61px;
        }
        @include bp(desktop){
            margin-top: 72px;
        }

        &-title {
            font-weight: 500;
        }

        &-subtitle {
            margin-top: 32px;
            font-weight: 700;
        }

        &-text {
            margin-top: 24px;
        }

        &-list {
            margin-top: 40px;

            ul {
                list-style: none;

                li {
                    padding-right: 16px;
                    position: relative;

                    @include bp(large) {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 2px;
                            height: 100%;
                            top: 0;
                            left: -21px;
                            background-color: $c-blackLight;
                            opacity: 0.5;
                        }

                        &:first-child {
                            &:after {
                                content: '';
                                display: none;
                            }
                        }
                    }


                    &:last-child {
                        padding-right: 0;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }

        &-btns {
            margin-top: 40px;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            column-gap: 10px;
            grid-template-rows: 1fr;

            @include bp(xsmall) {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }

            .btn-wrapper {
                margin: 10px 0;
                text-align: center;

            }

            button {

                width: fit-content;
                @include font-size(12);

                &:after {
                    display: none;
                }

                @include bp(xsmall) {
                    @include font-size(16);

                    &:after {
                        display: inline-block;
                    }
                }
            }
        }

        &-title+&-text {
            @include font-size(14);
            @include line-height(22);
        }
    }

    .inner-slider {

        .slick-dots {
            padding-left: 1rem;
            position: absolute;
            bottom: 10px;
            display: flex;
            margin: 0;
            list-style-type: none;
            right: 50%;
            @include transform(translateX(-100%));

            @include bp(medium) {
                left: 0;
                right: 0;
                transform: none;
            }


            li {
                margin: 0 5px;
                z-index: 10;
            }

            button {
                display: block;
                width: 12px;
                height: 12px;
                padding: 0;

                border: 1px solid $c-white;
                @include border-radius(100%);
                background-color: transparent;

                text-indent: -9999px;
            }

            li.slick-active button {
                border: 1px solid $c-green;
                background-color: $c-green;
            }
        }

        .slick-next,
        .slick-prev {
            position: absolute !important;
            bottom: 5px;
            display: inline-block;
            position: relative;
            max-height: 24px;
            height: 24px;
            width: 24px;
            cursor: pointer;
            background: url(../icons/angle-next.svg) no-repeat;
            background-position: 50% 50%;
            z-index: 10;
            margin-right: 0;
            outline: none;
            text-indent: -9999px;
            border: none;

            &:hover {
                opacity: 0.5;
            }
        }

        .slick-prev {

            right: 50%;
            @include transform(translateX(600%) rotate(180deg));



            @include bp(medium) {
                right: 34px;
                @include transform(rotate(180deg));
            }

        }

        .slick-next {

            right: 50%;
            transform: translateX(700%);

            @include bp(medium) {
                right: 10px;
                transform: none;
            }
        }

        img {
            margin: 0 auto;

            @include bp(medium) {
                margin: unset;
            }
        }
    }

}

.cards-carousel {
    padding-top: 85px;
    padding-bottom: 85px;

    @include bp(small) {
        padding-top: 102px;
        padding-bottom: 102px;
    }

    @include bp(desktop) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .card-carousel-header {
        margin-bottom: 40px;
    }

    .card-slider-body {
        .card {
            padding: 32px 33px 24px 33px;
            color: $c-blue;
            background-color: $c-light;
            border: 0;

            p {
                @include font-size(14);
                @include line-height(22);
            }

            a {
                @include font-size(16);
                @include line-height(26);
                color: $c-green;
            }

            h4 {
                @include font-size(14);
                @include line-height(22);
                opacity: 0.6;
            }
        }
    }

    .card-slider {
        position: relative;
    }

    .slider-nav {
        display: flex;
        justify-content: flex-end;

        .prev-card {
            margin-right: 10px;
        }

        .next-card {
            margin-left: 10px;
        }
    }
    .slick-dots{
        padding-left: 0;
        top: 30px;
    }
}